<html>
    <head>
        <title>GIROPOPS STRIGUS GIRUS</title>
    </head>
    <body>
        <h1>DESCOMPLICANDO O ANSIBLE</h1>
        <h2>Esse aqui é o meu ip: {{ ansible_facts.eth0.ipv4.address }}</h2>
    </body>
</html>